<!-- Map start -->
<div class="container">
    <iframe frameborder="0" marginheight="0" marginwidth="0" scrolling="no" 
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3504.9408993682423!2d77.20125491508054!3d28.54149608245387!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390ce2057e9165c5%3A0xc864934ee75ba1fc!2sBollygrad+Film+%26+Television+Institute!5e0!3m2!1sen!2sin!4v1448572620189" 
    style="width:100%;height:335px;color:#d35400"></iframe>
  </div>
<!-- Map end -->