<%- include('./partials/header') %>

<div class="container">
    <%- include('./partials/flash') %> 
</div>

<div class="container" style="display: flex;flex-direction: column;justify-content: center;align-items: center;height: 100vh;">
    <p class="text-center"><i class="fas fa-exclamation-triangle mb-3" style="font-size: 10rem;"></i></p>
    <h5 class="display-5 text-center">Error 404</h5>
    <h5 class="display-5 text-center">Something went Wrong!!!</h5>
    <p class="mt-1">The page you are looking for does not exist. How you got here is a mystery. <br>But you can click the button below to go back to the homepage.</p>
    <a href="/" class="btn btn-dark" style="text-decoration: none;">Home Page</a>
</div>