<%- include('../partials/header') %>
<%- include('../partials/navbar') %>
<div class="pic-container">
    <h1>CONTACT US</h1>
</div>

<div class="container text-center contact">
    <h1 class="black-card-head"><span>Delhi Campus</span></h1>
    <p class="m-4">41A, Fourth Floor, Kalu Sarai, Near chaudhary<br>house, Exit from gate no 4 Gate no 1 Sarvapriya<br>Vihar, Hauz Khas, New Delhi, Delhi 110016</p>
    <p><span>GET IN TOUCH WITH US</span></p>
    <p><span>Email:- </span>bollygrad.fti@gmail.com</p>
    <p><span>PHONE CONTACTS</span></p>
    <p>011-41407008, 9818659347</p>
</div>

<%- include('../partials/map') %>
<%- include('../partials/footer') %>