<%- include('../partials/header') %> 
<%- include('../partials/navbar') %> 

<div class="container courses">
    <div class="accordion accordion-flush" id="accordionFlushExample">
        <div class="accordion-item" title="Click me">
          <h2 class="accordion-header" id="flush-headingOne">
            <button class="accordion-button course1" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                <h4>Film Acting Course</h4>
                <div style="display: flex; justify-content: space-around;width: 100%;">
                    <img src="https://images.unsplash.com/photo-1594135356513-14291e55162a?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTR8fGluZGlhbiUyMGFjdGluZ3xlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" width="300" alt="" class="img-remove">
                    <img src="/images/acting.png" alt="">
                    <img src="https://images.unsplash.com/photo-1570834322056-ba3e2994ab85?ixid=MnwxMjA3fDB8MHxzZWFyY2h8N3x8YWN0aW5nfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" width="320" alt=""  class="img-remove">
                </div>
            </button>
          </h2>
          <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
                <table>
                    <thead>
                        <tr>
                            <th>Courses</th>
                            <th>Course Duration</th>
                            <th>Days of Week</th>
                            <th>Class Duration</th>
                            <th>Short Films</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Acting 3 Months (Regular)</td>
                            <td>3 Months</td>
                            <td>Monday Tuesday, Wednesday, Thursday</td>
                            <td>3 Hrs/Day</td>
                            <td>4 Short Films</td>
                        </tr>
                        <tr>
                            <td>Acting 6 Months (Weekend)</td>
                            <td>6 Months</td>
                            <td>Saturday, Sunday</td>
                            <td>3 Hrs/Day</td>
                            <td>4 Short Films</td>
                        </tr>
                        <tr>
                            <td>Acting 6 Months (Regular)</td>
                            <td>6 Months</td>
                            <td>Monday Tuesday, Wednesday, Thursday</td>
                            <td>3 Hrs/Day</td>
                            <td>8 Short Films</td>
                        </tr>
                        <tr>
                            <td>Acting 1 Year (Weekend)</td>
                            <td>1 Year</td>
                            <td>Saturday, Sunday</td>
                            <td>3 Hrs/Day</td>
                            <td>8 Short Films</td>
                        </tr>
                        <tr>
                            <td>Acting 1 Year (Regular)</td>
                            <td>1 Year</td>
                            <td>Monday Tuesday, Wednesday, Thursday</td>
                            <td>3 Hrs/Day</td>
                            <td>16 Short Films</td>
                        </tr>
                        <tr>
                            <td>Acting 3 Years (Weekend)</td>
                            <td>3 Years</td>
                            <td>Saturday, Sunday</td>
                            <td>3 Hrs/Day</td>
                            <td>24 Short Films, 1 Full length Film</td>
                        </tr>
                        <tr>
                            <td>Acting 3 Years (Regular)</td>
                            <td>3 Years</td>
                            <td>Monday Tuesday, Wednesday, Thursday</td>
                            <td>3 Hrs/Day</td>
                            <td>48 Short Films, 2 Full length Films</td>
                        </tr>
                    </tbody>
                </table>
            </div>
          </div>
        </div>
        <div class="accordion-item" title="Click me">
          <h2 class="accordion-header" id="flush-headingTwo">
            <button class="accordion-button collapsed course1" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                <h4>Theatre Course</h4>
                <div style="display: flex; justify-content: space-around;width: 100%;">
                    <img src="/images/pic1.jpg" width="300" alt="" class="img-remove">
                    <img src="/images/Theatre.png" alt="">
                    <img src="/images/pic2.jpg" width="300" alt="" class="img-remove">
                </div>
            </button>
          </h2>
          <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
                <table>
                    <thead>
                        <tr>
                            <th>Courses</th>
                            <th>Days of Week</th>
                            <th>Class Duration</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Theatre Morning Regular</td>
                            <td>Monday Tuesday, Wednesday, Thursday</td>
                            <td>90 Minutes</td>
                        </tr>
                        <tr>
                            <td>Theatre Morning Weekend</td>
                            <td>Saturday, Sunday</td>
                            <td>90 Minutes</td>
                        </tr>
                        <tr>
                            <td>Theatre Evening Regular</td>
                            <td>Monday Tuesday, Wednesday, Thursday</td>
                            <td>90 Minutes</td>
                        </tr>
                        <tr>
                            <td>Theatre Evening Weekend</td>
                            <td>Saturday, Sunday</td>
                            <td>90 Minutes</td>
                        </tr>
                    </tbody>
                </table>
            </div>
          </div>
        </div>
        <div class="accordion-item" title="Click me">
          <h2 class="accordion-header" id="flush-headingThree">
            <button class="accordion-button collapsed course1" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                <h4>Dance Course</h4>
                <div style="display: flex; justify-content: space-around;width: 100%;">
                    <img src="https://images.unsplash.com/photo-1593408995262-1d8933c37afc?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8aW5kaWFuJTIwYWN0aW5nfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" width="300" alt="" class="img-remove">
                    <img src="/images/dance.png" alt="">
                    <img src="https://images.unsplash.com/photo-1583661676314-155d504c12ca?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NjF8fGluZGlhbiUyMGFjdGluZ3xlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" width="300" alt="" class="img-remove">
                </div>
                
            </button>
          </h2>
          <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
                <table>
                    <thead>
                        <tr>
                            <th>Courses</th>
                            <th>Days of Week</th>
                            <th>Class Duration</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Bollywood</td>
                            <td>Tuesday, Thursday, Saturday</td>
                            <td>1 Hrs/Day</td>
                        </tr>
                        <tr>
                            <td>Salsa</td>
                            <td>Tuesday, Thursday, Saturday</td>
                            <td>1 Hrs/Day</td>
                        </tr>
                        <tr>
                            <td>Contemporary</td>
                            <td>Tuesday, Thursday, Saturday</td>
                            <td>1 Hrs/Day</td>
                        </tr>
                        <tr>
                            <td>Bharatnatyam</td>
                            <td>Tuesday, Thursday, Saturday</td>
                            <td>1 Hrs/Day</td>
                        </tr>
                    </tbody>
                </table>
            </div>
          </div>
        </div>
      </div>
    <!-- <div class="course1">
        <h4>Film Acting Course</h4>
        <img src="/images/acting.png" alt="">
    </div> -->
</div>

<%- include('../partials/footer') %> 