<%- include('../partials/header') %>
<%- include('../partials/navbar') %>
<div class="container faculties">
    <h1 class="black-card-head"><span>Our Faculties</span></h1>
    <div class="row" data-aos="fade-right">
        <div class="col-sm-4 faculty-1"></div>
        <div class="col-sm-8">
            <h4>Ramendra Chakarwarti</h4>
            <p>Dr. Ramendra Chakarwarti has been active in theatre both in theory and practice for 19 years. He has acted in and directed dozens of plays in India as well as abroad. He has been simultaneously awarded the 2013 Rajiv Gandhi Samaj Ratna Award in Directing the highest number of theatre shows and in Best Director categories.</p>
        </div>
    </div>
    <div class="row" data-aos="fade-left">
        <div class="col-sm-4 faculty-2"></div>
        <div class="col-sm-8">
            <h4>Bhagat Singh</h4>
            <p>An M.A. from JNU, Bhagat Singh has been active in Theatre and Films for the past 10 years. He has acted in numerous plays and worked in over 25 short films. He specializes in film appreciation, script writing and has authored more than 100 scripts for movies.</p>
        </div>
    </div>
    <div class="row" data-aos="fade-right">
        <div class="col-sm-4 faculty-3"></div>
        <div class="col-sm-8">
            <h4>Mahendra Singh Mewati</h4>
            <p>A graduate from national School of Drama(NSD), Mahendra Mewati has been active in theatre and films for over 20 years. He leads in th mega theatre production 'Aurangzeb' nad has acted in numerous film like : Mangal Pandey, Ajab Prem Ki Gajab kahani, Teen the bhai, Tevar, Bhaag Milkha Bhaag and many regional and upcoming movies.</p>
        </div>
    </div>
    <div class="row" data-aos="fade-left">
        <div class="col-sm-4 faculty-4"></div>
        <div class="col-sm-8">
            <h4>Nitin Singh Negi</h4>
            <p>Nitin singh Negi, has been active in theatre and films for the past 8 years. He acted acted assited or diercted in short films He has an overwhelming experience of over 500 street play shows, over 20 stage plays and over 30 short films. He especializes in actor training, mime and mono acting and dance choreography.</p>
        </div>
    </div>
</div>
<%- include('../partials/footer') %>