<%- include('../partials/header') %>
<%- include('../partials/navbar') %>
<div class="container productions">
    <h1 class="black-card-head"><span>Our Productions</span></h1>
    <a href="https://www.youtube.com/watch?v=Lf-bXoC3dB0" class="youtube-link" target="_blank">
        <div class="row" data-aos="fade-in">
            <div class="col-sm-4 production-1"></div>
            <div class="col-sm-8">
                <h5>Girlfriend</h5>
                <p>A short story of two friends who have found their soul mates...</p>
                <p><span class="course-details">Actors:</span> Shareef, Deepti</p>
                <p><span class="course-details">Genre:</span> Comedy</p>
            </div>
        </div>
    </a>
    <a href="https://www.youtube.com/watch?v=iO0ae6UZz3Y" class="youtube-link" target="_blank">
        <div class="row" data-aos="fade-in">
            <div class="col-sm-4 production-2"></div>
            <div class="col-sm-8">
                <h5>Chit Chat</h5>
                <p>Two married men meet and share their agonies. BFTI celebrating International Women's Day...</p>
                <p><span class="course-details">Actors:</span> Bhuvan, Anil</p>
                <p><span class="course-details">Genre:</span> Drama</p>
            </div>
        </div>
    </a>
    <a href="https://www.youtube.com/watch?v=JXREd9vhneY" class="youtube-link" target="_blank">
        <div class="row" data-aos="fade-in">
            <div class="col-sm-4 production-3"></div>
            <div class="col-sm-8">
                <h5>Paranoia</h5>
                <p>How do you react in such a situations?</p>
                <p><span class="course-details">Actors:</span> Bhuvan, Akash</p>
                <p><span class="course-details">Genre:</span> Paranoid</p>
            </div>
        </div>
    </a>
    <a href="https://www.youtube.com/watch?v=1JuSbHqWaZ8" class="youtube-link" target="_blank">
        <div class="row" data-aos="fade-in">
            <div class="col-sm-4 production-4"></div>
            <div class="col-sm-8">
                <h5>Trickster 2.0</h5>
                <p>Another film from the series Trickster.</p>
                <p><span class="course-details">Actors:</span> Neha, Pawan, Sharif, Sushmita</p>
                <p><span class="course-details">Genre:</span> Crime</p>
            </div>
        </div>
    </a>
    <a href="https://www.youtube.com/watch?v=eBZxF3fpwOA" class="youtube-link" target="_blank">
        <div class="row" data-aos="fade-in">
            <div class="col-sm-4 production-5"></div>
            <div class="col-sm-8">
                <h5>Astitva</h5>
                <p>The video is about not only discovering ourselves but discovering a human in each of us. Why divide people on the basis of their gender?</p>
                <p><span class="course-details">Actors:</span> Shareef</p>
                <p><span class="course-details">Genre:</span> Philosophical</p>
            </div>
        </div>
    </a>
    <a href="https://www.youtube.com/watch?v=Ah_vEWIqP2k" class="youtube-link" target="_blank">
        <div class="row" data-aos="fade-in">
            <div class="col-sm-4 production-6"></div>
            <div class="col-sm-8">
                <h5>128 Seconds</h5>
                <p>A man trapped, trying hard to escape to find what?</p>
                <p><span class="course-details">Actors:</span> Pawan</p>
                <p><span class="course-details">Genre:</span> Thriller</p>
            </div>
        </div>
    </a>
    <a href="https://www.youtube.com/watch?v=Vqf38E5Emps" class="youtube-link" target="_blank">
        <div class="row" data-aos="fade-in">
            <div class="col-sm-4 production-7"></div>
            <div class="col-sm-8">
                <h5>Trickster</h5>
                <p>A short film with a strong social message. A must watch film for all especially women.</p>
                <p><span class="course-details">Actors:</span> Anjali, Anoop</p>
                <p><span class="course-details">Genre:</span> Crime</p>
            </div>
        </div>
    </a>
    <a href="https://www.youtube.com/watch?v=-Qw4zvrOXM4" class="youtube-link" target="_blank">
        <div class="row" data-aos="fade-in">
            <div class="col-sm-4 production-8"></div>
            <div class="col-sm-8">
                <h5>Chuppi...kabhi to tootegi</h5>
                <p>Husband and Wife do love each other but there is something off...! What is it they lack? What is it they should do? Find out! [...]</p>
                <p><span class="course-details">Actors:</span> Bhagat, Sushmita</p>
                <p><span class="course-details">Genre:</span> Drama</p>
            </div>
        </div>
    </a>
</div>
<%- include('../partials/footer') %>